In [1]:
# importing required library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Loading the Dataset

In [2]:
df_org = pd.read_csv('Shark_Tank_India_S1.csv')
df = df_org.copy()

# Understanding of Data

In [3]:
# Shape
df.shape

(121, 32)

In [4]:
# Data preview
df.sample(5)

,episode_number,startup_number,brand_name,description,deal_offered,startup_ask_amount_lakhs,startup_ask_percentage,startup_ask_valuation,deal_amount_lakhs,deal_equity,...,ghazal_invested,namita_present,namita_invested,peyush_present,peyush_invested,vineeta_present,vineeta_invested,sharks_offering,amount_per_shark,equity_per_shark
102,32,103,Thea and Sid,Proposal Solutions,0,80.0,7.0,1142.86,0.0,0.0,...,0,1,0,1,0,0,0,0,0.0,0.0
36,13,37,Annie,Braille Literary Device,1,30.0,5.0,600.00,105.0,3.0,...,0,1,1,1,1,0,0,3,35.0,1.0
48,16,49,Let's Try,Healthy Snacks,1,45.0,2.0,2250.00,45.0,12.0,...,0,1,0,1,0,0,0,2,22.5,6.0
34,12,35,SweeDesi,Indian Sweets,0,40.0,3.0,1333.33,0.0,0.0,...,0,1,0,1,0,0,0,0,0.0,0.0
98,31,99,Scrapshala,Handmade Reusable Scrap Materials,0,50.0,10.0,500.00,0.0,0.0,...,0,1,0,0,0,1,0,0,0.0,0.0

In [5]:
# data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   episode_number            121 non-null    int64
 1   startup_number            121 non-null    int64
 2   brand_name                121 non-null    object
 3   description               121 non-null    object
 4   deal_offered              121 non-null    int64
 5   startup_ask_amount_lakhs  121 non-null    float64
 6   startup_ask_percentage    121 non-null    float64
 7   startup_ask_valuation     121 non-null    float64
 8   deal_amount_lakhs         121 non-null    float64
 9   deal_equity               121 non-null    float64
 10  deal_valuation            121 non-null    float64
 11  loan_element_present      121 non-null    int64
 12  loan_amount               121 non-null    int64
 13  rannvijay_present         121 non-null    int64
 14  abish_present             121 non-null    int64
 15  aman_present              121 non-null    int64
 16  aman_invested             121 non-null    int64
 17  anupam_present            121 non-null    int64
 18  anupam_invested           121 non-null    int64
 19  ashneer_present           121 non-null    int64
 20  ashneer_invested          121 non-null    int64
 21  ghazal_present            121 non-null    int64
 22  ghazal_invested           121 non-null    int64
 23  namita_present            121 non-null    int64
 24  namita_invested           121 non-null    int64
 25  peyush_present            121 non-null    int64
 26  peyush_invested           121 non-null    int64
 27  vineeta_present           121 non-null    int64
 28  vineeta_invested          121 non-null    int64
 29  sharks_offering           121 non-null    int64
 30  amount_per_shark          121 non-null    float64
 31  equity_per_shark          121 non-null    float64
dtypes: float64(8), int64(22), object(2)
memory usage: 29.4+ KB

In [8]:
# different unique values in each columns
df.nunique()

episode_number               36
startup_number              121
brand_name                  121
description                 121
deal_offered                  2
startup_ask_amount_lakhs     26
startup_ask_percentage       19
startup_ask_valuation        50
deal_amount_lakhs            22
deal_equity                  28
deal_valuation               40
loan_element_present          2
loan_amount                   7
rannvijay_present             2
abish_present                 2
aman_present                  2
aman_invested                 2
anupam_present                1
anupam_invested               2
ashneer_present               2
ashneer_invested              2
ghazal_present                2
ghazal_invested               2
namita_present                2
namita_invested               2
peyush_present                2
peyush_invested               2
vineeta_present               2
vineeta_invested              2
sharks_offering               6
amount_per_shark             28
equity_per_shark             35
dtype: int64

In [9]:
# count of missing values
df.isna().sum()

episode_number              0
startup_number              0
brand_name                  0
description                 0
deal_offered                0
startup_ask_amount_lakhs    0
startup_ask_percentage      0
startup_ask_valuation       0
deal_amount_lakhs           0
deal_equity                 0
deal_valuation              0
loan_element_present        0
loan_amount                 0
rannvijay_present           0
abish_present               0
aman_present                0
aman_invested               0
anupam_present              0
anupam_invested             0
ashneer_present             0
ashneer_invested            0
ghazal_present              0
ghazal_invested             0
namita_present              0
namita_invested             0
peyush_present              0
peyush_invested             0
vineeta_present             0
vineeta_invested            0
sharks_offering             0
amount_per_shark            0
equity_per_shark            0
dtype: int64

In [12]:
# duplicate values in dataset
df.duplicated().sum()

0

In [13]:
# Five point summary mathematically
df.describe()

,episode_number,startup_number,deal_offered,startup_ask_amount_lakhs,startup_ask_percentage,startup_ask_valuation,deal_amount_lakhs,deal_equity,deal_valuation,loan_element_present,...,ghazal_invested,namita_present,namita_invested,peyush_present,peyush_invested,vineeta_present,vineeta_invested,sharks_offering,amount_per_shark,equity_per_shark
count,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.00000,...,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000
mean,19.305785,61.000000,0.561983,312.338851,5.083306,4230.182727,31.925629,8.799421,473.770826,0.07438,...,0.057851,0.909091,0.198347,0.760331,0.231405,0.578512,0.132231,1.231405,18.004134,5.448595
std,10.375326,35.073732,0.498206,2721.640471,3.882554,12329.894575,36.847011,12.948175,925.693471,0.26348,...,0.234433,0.288675,0.400413,0.428657,0.423484,0.495851,0.340151,1.406890,23.512490,10.651783
min,1.000000,1.000000,0.000000,0.001010,0.250000,0.010000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.000000,31.000000,0.000000,45.000000,2.000000,666.670000,0.000000,0.000000,0.000000,0.00000,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19.000000,61.000000,1.000000,50.000000,5.000000,1333.330000,21.000000,3.000000,100.000000,0.00000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,10.000000,1.250000
75%,28.000000,91.000000,1.000000,80.000000,7.000000,3000.000000,50.000000,15.000000,500.000000,0.00000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,25.000000,6.000000
max,36.000000,121.000000,1.000000,30000.000000,25.000000,120000.000000,150.000000,75.000000,6666.670000,1.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,100.000000,75.000000

In [14]:
# correlation between numerical values
df.corr()

,episode_number,startup_number,deal_offered,startup_ask_amount_lakhs,startup_ask_percentage,startup_ask_valuation,deal_amount_lakhs,deal_equity,deal_valuation,loan_element_present,...,ghazal_invested,namita_present,namita_invested,peyush_present,peyush_invested,vineeta_present,vineeta_invested,sharks_offering,amount_per_shark,equity_per_shark
episode_number,1.000000,0.998874,-0.226981,-0.070798,-0.116825,-0.014609,-0.177244,-0.129519,-0.124777,0.006853,...,0.205084,-0.085240,0.003332,0.434458,0.023590,0.175904,-0.013914,-0.113929,-0.157489,-0.090213
startup_number,0.998874,1.000000,-0.235589,-0.075827,-0.121403,-0.015086,-0.188228,-0.135135,-0.127930,0.002705,...,0.200671,-0.081482,-0.006527,0.415708,0.015148,0.196458,-0.007683,-0.123113,-0.165537,-0.096435
deal_offered,-0.226981,-0.235589,1.000000,-0.106698,-0.072872,-0.177585,0.768109,0.602464,0.453719,0.250262,...,0.218766,0.068478,0.439140,0.050631,0.484419,-0.146364,0.344627,0.775937,0.678827,0.453469
startup_ask_amount_lakhs,-0.070798,-0.075827,-0.106698,1.000000,0.465322,0.864988,-0.078947,-0.066072,-0.045498,-0.025439,...,-0.023593,0.028465,-0.046769,0.050200,-0.052075,-0.105356,-0.037108,-0.083549,-0.069875,-0.049773
startup_ask_percentage,-0.116825,-0.121403,-0.072872,0.465322,1.000000,0.204932,-0.168391,0.298669,-0.304957,-0.048875,...,0.077061,0.021684,0.020105,-0.079284,-0.028294,0.043280,0.102015,-0.015123,-0.155534,0.246374
startup_ask_valuation,-0.014609,-0.015086,-0.177585,0.864988,0.204932,1.000000,-0.108656,-0.170070,0.003760,-0.027159,...,-0.055746,0.050131,-0.087353,-0.030259,-0.097217,-0.003891,-0.082408,-0.162144,-0.084204,-0.128911
deal_amount_lakhs,-0.177244,-0.188228,0.768109,-0.078947,-0.168391,-0.108656,1.000000,0.364469,0.650634,0.028900,...,0.184763,0.063601,0.451733,-0.004831,0.406988,-0.081549,0.292675,0.689479,0.799270,0.236280
deal_equity,-0.129519,-0.135135,0.602464,-0.066072,0.298669,-0.170070,0.364469,1.000000,-0.082136,0.237684,...,0.190536,-0.069574,0.133912,0.080706,0.390449,0.003207,0.357999,0.435461,0.356026,0.897832
deal_valuation,-0.124777,-0.127930,0.453719,-0.045498,-0.304957,0.003760,0.650634,-0.082136,1.000000,0.064562,...,-0.004468,0.073772,0.203713,-0.130977,0.171888,0.014366,-0.011564,0.321584,0.593279,-0.079864
loan_element_present,0.006853,0.002705,0.250262,-0.025439,-0.048875,-0.027159,0.028900,0.237684,0.064562,1.000000,...,-0.070244,-0.129483,-0.062016,0.085370,0.217883,-0.013179,-0.017674,-0.001858,0.112943,0.367336
loan_amount,0.022651,0.020043,0.211644,-0.020492,-0.105587,0.008607,0.016158,0.074970,0.057441,0.845687,...,-0.059404,-0.095247,-0.033605,0.086596,0.098428,-0.042957,-0.033093,-0.000596,0.073055,0.157041
rannvijay_present,-0.298747,-0.309680,0.023100,0.014997,0.146491,-0.166370,0.008443,0.068821,-0.039108,-0.123756,...,0.045818,-0.058471,-0.139874,-0.103811,-0.008153,-0.157824,-0.064283,-0.002454,0.029645,0.068827
abish_present,0.298747,0.309680,-0.023100,-0.014997,-0.146491,0.166370,-0.008443,-0.068821,0.039108,0.123756,...,-0.045818,0.058471,0.139874,0.103811,0.008153,0.157824,0.064283,0.002454,-0.029645,-0.068827
aman_present,-0.301610,-0.296557,-0.014757,0.039428,-0.058263,0.064317,-0.026875,-0.098319,0.021600,0.035774,...,-0.476844,-0.136482,-0.013182,-0.242316,-0.140221,-0.368394,-0.099756,-0.025994,-0.051341,-0.107450
aman_invested,-0.247085,-0.253859,0.495665,-0.053342,-0.122254,-0.103064,0.459097,0.159145,0.335679,-0.085370,...,-0.139124,0.042855,0.303345,-0.002249,0.105091,-0.226491,0.066600,0.556722,0.307891,0.011414
anupam_present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
anupam_invested,-0.143098,-0.150717,0.439140,-0.048749,0.026805,-0.105767,0.327473,0.271820,0.209985,-0.062016,...,0.143068,0.013108,0.116409,0.085065,0.316798,-0.121060,0.172934,0.598314,0.090049,0.069525
ashneer_present,-0.415799,-0.416095,-0.003158,0.043393,0.012726,-0.016171,-0.021073,-0.059807,0.002209,-0.023220,...,-0.421279,-0.153197,-0.075959,-0.271992,-0.133736,-0.413511,-0.121791,-0.025222,-0.034098,-0.068271
ashneer_invested,-0.136057,-0.137446,0.404569,-0.042664,-0.074778,-0.064009,0.383909,0.131937,0.197426,0.036428,...,-0.020085,-0.006901,0.100404,0.001690,0.214243,-0.139149,0.207635,0.562894,0.108336,-0.043551
ghazal_present,0.473311,0.476406,-0.065357,-0.048038,0.048574,-0.073458,-0.054870,0.068995,-0.084244,-0.071614,...,0.473665,0.165434,-0.007923,0.293718,0.046922,0.446541,0.152180,0.014124,-0.045636,0.046542
ghazal_invested,0.205084,0.200671,0.218766,-0.023593,0.077061,-0.055746,0.184763,0.190536,-0.004468,-0.070244,...,1.000000,0.078360,0.231843,0.139124,0.199789,0.211511,0.425785,0.388599,0.006004,0.028566
namita_present,-0.085240,-0.081482,0.068478,0.028465,0.021684,0.050131,0.063601,-0.069574,0.073772,-0.129483,...,0.078360,1.000000,0.157297,-0.177544,0.037182,-0.269921,-0.046291,0.072748,0.064104,-0.117616
namita_invested,0.003332,-0.006527,0.439140,-0.046769,0.020105,-0.087353,0.451733,0.133912,0.203713,-0.062016,...,0.231843,0.157297,1.000000,0.085065,0.169365,-0.121060,0.172934,0.568728,0.241851,0.019572
peyush_present,0.434458,0.415708,0.050631,0.050200,-0.079284,-0.030259,-0.004831,0.080706,-0.130977,0.085370,...,0.139124,-0.177544,0.085065,1.000000,0.308065,-0.479227,-0.180905,0.120366,-0.039588,0.075278
peyush_invested,0.023590,0.015148,0.484419,-0.052075,-0.028294,-0.097217,0.406988,0.390449,0.171888,0.217883,...,0.199789,0.037182,0.169365,0.308065,1.000000,-0.245984,-0.040639,0.552772,0.222245,0.305354
vineeta_present,0.175904,0.196458,-0.146364,-0.105356,0.043280,-0.003891,-0.081549,0.003207,0.014366,-0.013179,...,0.211511,-0.269921,-0.121060,-0.479227,-0.245984,1.000000,0.333197,-0.133771,-0.051790,0.017190
vineeta_invested,-0.013914,-0.007683,0.344627,-0.037108,0.102015,-0.082408,0.292675,0.357999,-0.011564,-0.017674,...,0.425785,-0.046291,0.172934,-0.180905,-0.040639,0.333197,1.000000,0.475347,0.049250,0.111218
sharks_offering,-0.113929,-0.123113,0.775937,-0.083549,-0.015123,-0.162144,0.689479,0.435461,0.321584,-0.001858,...,0.388599,0.072748,0.568728,0.120366,0.552772,-0.133771,0.475347,1.000000,0.297361,0.140626
amount_per_shark,-0.157489,-0.165537,0.678827,-0.069875,-0.155534,-0.084204,0.799270,0.356026,0.593279,0.112943,...,0.006004,0.064104,0.241851,-0.039588,0.222245,-0.051790,0.049250,0.297361,1.000000,0.403869
equity_per_shark,-0.090213,-0.096435,0.453469,-0.049773,0.246374,-0.128911,0.236280,0.897832,-0.079864,0.367336,...,0.028566,-0.117616,0.019572,0.075278,0.305354,0.017190,0.111218,0.140626,0.403869,1.000000